# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Model cache
.cache/
.huggingface/
transformers/

# FAISS / vector store
*.faiss
*.pkl

# Temporary files
tmp/
temp/

# IDE
.vscode/
.idea/

# Data (optional)
data/*.pdf

# Models
models/